{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="container">
            <div class="logo">
                <a href="{% url 'homepage' %}">MySite</a>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'articles:list' %}">Articles</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                        <li>
                            <form class="form" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item ms-auto">
                            <a class="btn btn-outline-primary" href="{% url 'accounts:login' %}">Login</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="btn btn-primary" href="{% url 'accounts:signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    {% block content %}{% endblock content %}
</body>
</html>